{% extends 'pro/pro_home.html' %}
{% load static %}

{% block index_content %}
<!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" method="post" >
                                {% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                                    <h3 class="panel-title"><strong>Modificar team</strong></h3>
                                </div>
                                <div class="panel-body">
                                   <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Usuario</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                {{ form.user }}
                                            </div>
                                            <span class="help-block">Escoga el Usuario *Campo Obligatorio</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Horas Trabajadas</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.horas_trabajadas }}
                                            </div>
                                            <span class="help-block">a cantidad de horas que trabaja  el usuario, campo numerico mayor a 0 *Campo Obligatorio</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Rol</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.rol }}
                                            </div>
                                            <span class="help-block">Escoga el Rol del usuario *Campo Obligatorio</span>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <button class="btn btn-primary pull-right"  data-box="#mb-usercreate">Guardar Cambios</button>
                                    </div>

                                </div>
                            </div>
                            </form>

                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->
{% endblock %}