{% extends 'index.html' %}
{% load static %}

{% block index_content %}
    {% load tags_permisos %}
    {% get_obj_perms user for proyecto as "permisos" %}

    <!-- START RESPONSIVE TABLES -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                    <h3 class="panel-title"><strong>Dailies</strong></h3>
                </div>

                <div class="panel-body panel-body-table">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th width="200">Descripcion</th>
                                <th width="100">Autor</th>
                                <th width="100">Fecha</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for daily in daily_list %}
                                <tr id="<pk>">
                                    <td><span class="text-center">{{ daily.texto }}</span></td>
                                    <td><span class="text-center">{{ daily.autor }}</span></td>
                                    <td><span class="text-center">{{ daily.fecha }}</span></td>
                                    <td>
                                        {% if 'Daily.modificar_daily' in permisos %}
                                            <a href="{% url 'Proyecto:UserStory:Daily:ModificarDaily'  pk=proyectoKey pku=daily.us.id  pkd=daily.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button></a>
                                        {% endif %}
                                        {% if 'Daily.eliminar_daily' in permisos %}
                                            <a href="#" class="mb-control" data-box="#mb-delete{{ proyectoKey }}{{ daily.us.id }}{{ daily.id }}">
                                            <button class="btn btn-danger btn-rounded btn-sm" ><span class="fa fa-times"></span></button></a>
                                        {% endif %}

                                    </td>
                                </tr>
                                <!-- MESSAGE BOX-->
                                <div class="message-box animated fadeIn" data-sound="alert" id="mb-delete{{ proyectoKey }}{{ daily.us.id }}{{ daily.id }}">
                                    <div class="mb-container">
                                        <div class="mb-middle">
                                            <div class="mb-title"><span class="fa fa-trash-o"></span><strong>Eliminar</strong> ?</div>
                                            <div class="mb-content">
                                                <p>Estas seguro que deseas eliminar el Daily  {{ daily.texto }}?</p>
                                            </div>
                                            <div class="mb-footer">
                                                <div class="pull-right">
                                                    <form action="{%  url 'Proyecto:UserStory:Daily:EliminarDaily'  pk=proyectoKey   pku=daily.us.id  pkd=daily.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Si"/>
                                                        <button class="btn btn-light btn-small mb-control-close">No</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END MESSAGE BOX-->
                            {% endfor %}

                            </tbody>
                        </table>
                        <a class="btn btn-info" href="{% url 'Proyecto:Kanban:visualizar' proyectoKey %}"><span class="fa fa-eye"></span>Volver al Tablero Kanban </a></li>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- END RESPONSIVE TABLES -->
{% endblock %}

