{% extends 'index.html' %}
{#{% extends 'pro/pro_home.html' %}#}
{% load static %}
{% block index_content %}

 <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal" method="post" >
                            {% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                                    <h3 class="panel-title"><strong>Modificar Daily</strong></h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Texto</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.texto }}
                                            </div>
                                            <span class="help-block">Ingrese la informacion que contendra su Daily *Campo Obligatorio</span>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <button class="btn btn-primary pull-right"  data-box="#mb-usercreate">Modifcar</button>
                                    </div>
                                </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
{% endblock %}