{% extends 'index.html' %}
{% load static %}

{% block index_content %}
    {% load guardian_tags %}
    <!-- START RESPONSIVE TABLES -->
    {{ message }}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Roles</strong></h3>
                    <input class="form-control" id="myInput" type="text" placeholder="Buscar rol">
                    <br>
                </div>

                <div class="panel-body panel-body-table">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Rol de Proyecto</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for rol in my_roles%}
                                <tr id="{{ rol.id }}">
                                    <td><strong>{{ rol.name }}</strong></td>
                                    <td>{{ rol.isProyectoRol }}</td>
                                    <td>
                                        {% if rol.isProyectoRol %}
                                            <a href="{% url 'Accounts:modificarRolPr' rol.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button></a>
                                        {% else %}
                                            <a href="{% url 'Accounts:modificarRol' rol.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button></a>
                                        {% endif %}
                                        <a href="#" class="mb-control" data-box="#mb-delete{{ rol.id }}">
                                            <button class="btn btn-danger btn-rounded btn-sm" ><span class="fa fa-times"></span></button></a>
                                    </td>
                                </tr>
                                <div class="message-box animated fadeIn" data-sound="alert" id="mb-delete{{ rol.id }}">
                                    <div class="mb-container">
                                        <div class="mb-middle">
                                            <div class="mb-title"><span class="fa fa-trash-o"></span> Borrar <strong>?</strong> </div>
                                            <div class="mb-content">
                                                <p>Estas seguro que queres borrar</p>
                                            </div>
                                            <div class="mb-footer">
                                                <div class="pull-right">
                                                    <form action="{% url 'Accounts:eliminarRol' rol.id %} " method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" value="Confirm" class="btn btn-success btn-lg">Si</button>
                                                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- END RESPONSIVE TABLES -->

    <!-- MESSAGE BOX-->

    <!-- END MESSAGE BOX-->
{% endblock %}



{% block page_scripts %}
    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js'%}"></script>
    <script type="text/javascript" src="{% static "js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"%}"></script>
    <script type="text/javascript" src="{% static "js/demo_tables.js" %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
