<html>

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Reporte</title>
    <style>
        body {
            background-color: #f7f7f7;
        }
    </style>
</head>
<body>
<h1>Reporte</h1>
<h3>Proyecto: {{ proyecto.nombre }}</h3>
<h3>Horas reales trabajadas</h3>

    {% for sprint in sprints %}
        <table>
        <tr class="w3-red">
            <td>Sprint {{ sprint.sprint.numero }}: {{ sprint.tiempo }} días</td>
        <td>
        <ul>
            {% for us in sprint.sprint.userStories.all %}
                <li>User Story {{ us.titulo }}: {{ us.horas_trabajadas }}hs. Encargado: {{ us.encargado.user.username   }}</li>
            {% endfor %}
        </ul>
        </td>
        </tr>
       </table>
    {% endfor %}



</body>
</html>