<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">    <style>
        body {
            background-color: #f7f7f7;
        }
    </style>
</head>
<body>
<h1>Reporte</h1>
<h2>Proyecto: {{ proyecto.nombre }}</h2>
<h1 >Reporte</h1>
<h2>Proyecto: {{ proyecto.nombre }}</h2>
<h2>Sprint {{ sprint.numero }}</h2>
<h3><strong>Sprint Backlog</strong></h3>

<h4>User stories por hacer</h4>
<table class="pure-table">
<thead>
    <tr class="pure-table-odd">
        <th>Título</th>
        <th>Prioridad</th>
        <th>Tiempo de terminación</th>
        <th>Encargado</th>
    </tr>
</thead>
<h4>User stories por hacer:</h4>
{% for us in user_stories_inicial %}
    <tr class="pure-table-odd">
        <th>{{ us.titulo }}</th>
        <th>{{ us.prioridad }}</th>
        <th>{{ us.tiempo_estimado_de_terminacion }}</th>
        <th>{{ us.encargado }}</th>
    </tr>
    <p>{{ us.titulo }}</p>
{% endfor %}
</table>
<h4>User stories en desarrollo</h4>

<h4>User stories en desarrollo:</h4>
{% for us in user_stories_en_desarrollo %}
    <p>{{ us.titulo }}</p>
{% endfor %}

<h4>User stories terminados:</h4>
{% for us in user_stories_terminados %}
    <p>{{ us.titulo }}</p>
{% endfor %}

<h4>User stories cancelados:</h4>
{% for us in user_stories_cancelados %}
    <p>{{ us.titulo }}</p>
{% endfor %}

</table>
</body>
</html>