<html>
<head>
    <title>Reporte</title>
    <style>
        body {
            background-color: #f7f7f7;
        }
    </style>
</head>
<body>
<h1>Reporte</h1>
<h3>Proyecto: {{ proyecto.nombre }}</h3>
<h3>Product Backlog</h3>

<h4>User stories en estado inicial:</h4>
{% for us in user_stories_inicial %}
    <li><p>{{ us.titulo }}</p></li>
{% endfor %}

<h4>User stories en desarrollo:</h4>
{% for us in user_stories_en_desarrollo %}
    <li><p>{{ us.titulo }}</p></li>
{% endfor %}

<h4>User stories terminados:</h4>
{% for us in user_stories_terminados %}
    <li><p>{{ us.titulo }}</p></li>
{% endfor %}

<h4>User stories cancelados:</h4>
{% for us in user_stories_cancelados %}
    <li><p>{{ us.titulo }}</p></li>
{% endfor %}


</body>
</html>