{% extends 'pro/pro_home.html' %}
{% load static %}

{% block index_content %}
    {% load tags_permisos %}
    {% get_obj_perms user for proyecto as "permisos" %}

    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                    <h3 class="panel-title">Sprints externos al proyecto</h3>
                    <input class="form-control" id="myInput" type="text" placeholder="Buscar sprint">
                    <br>
                </div>

                <div class="panel-body panel-body-table">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th>Proyecto ID</th>
                                <th>Sprint</th>
                                <th>User Stories</th>
                                <th>Flujos</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for sprint in lista_importados %}

                                <tr id="<pk>">
                                    <td>{{ sprint.proyecto.id }}</td>
                                    <td>Sprint {{ sprint.numero }}</td>
                                    <td><span class="text-center">
                                                    {% for us in sprint.userStories.all %}
                                                        {{ us.titulo }}<br>
                                                    {% endfor %}
                                    </span></td>
                                    <td><span class="text-justify">
                                                    {% for us in sprint.userStories.all %}
                                                        {{ us.flujo.nombre }}<br>
                                                    {% endfor %}
                                    </span></td>
                                    <td>
                                        {% if 'Sprint.importar_sprint' in permisos %}
                                                <a href="#" class="mb-control" data-box="#mb-info{{ sprint.id }}"><button class="btn btn-danger btn-rounded btn-sm"><span>Importar</span></button></a>
                                        {% endif %}
                                    </td>
                                </tr>

                                <div class="message-box animated fadeIn" data-sound="alert" id="mb-info{{ sprint.id }}">
                                <div class="mb-container">
                                    <div class="mb-middle">
                                        <div class="mb-title"><span class="fa fa-info"></span><strong>Importado correctamente</strong></div>
                                        <div class="mb-content">
                                            <p>El sprint importado ya se encuentra en la lista de sprints del proyecto actual</p>
                                        </div>
                                        <div class="mb-footer">
                                            <div class="pull-right">
                                                <form action="{% url 'Proyecto:sprint:importarS' pk=sprint.proyecto.id  pks=sprint.id  pkp=proyecto.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" value="Confirm" class="btn btn-success btn-lg">Ok</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


{% endblock %}