{% extends 'pro/pro_home.html' %}
{% load static %}
{% block index_content %}
 <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal" method="post" >
                            {% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                                    <h3 class="panel-title"><strong>Reasignar User Story {{ userstory.titulo }}</strong></h3>
                                    <ul class="panel-controls">
                                    </ul>

                                </div>
                                <div class="panel-body">



                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label"> Encargado </label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                {{ form.encargado }}
                                            </div>
                                        </div>
                                    </div>
                                      {{ form.errors }}
                                    <div class="panel-footer">
                                        <button class="btn btn-primary pull-right"  data-box="#mb-usercreate">Submit</button>
                                    </div>
                                </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
{% endblock %}