{% extends 'pro/pro_home.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}
{% block index_content %}
    <link rel="stylesheet" type="text/css" href="/staticfiles/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/staticfiles/admin/css/forms.css" />
    <script type="text/javascript" src="/staticfiles/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/core.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/actions.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/vendor/xregexp/xregexp.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/SelectBox.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/SelectFilter2.js"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>

    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">


                <form class="form-horizontal" action="" method="post">{% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                            <h3 class="panel-title"><strong>Crear Sprint</strong></h3><br>
                        </div>
                        <div class="panel-body">


                            <h6>Todos los campos son obligatorios</h6>
                            {#                                        <div class="form-group">#}
                            {#                                            <label class="col-md-3 col-xs-12 control-label"> Fecha Inicio </label>#}
                            {#                                            <div class="col-md-6 col-xs-12">#}
                            {#                                                <div class="input-group">#}
                            {#                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>#}
                            {#                                                    {{ wizard.form.fechaInicio }}#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}



                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Duracion en días</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        {#                                                    <input type="number" id="id_0-duracion" title="Duracion" >#}
                                        {{ form.duracion }}
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Horas hombre disponibles</label>
                                <div class="col-md-7 col-xs-12">
                                    <div class="input-group">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th><strong>Team members</strong></th>
                                                <th><strong>Horas al día dedicadas a este Sprint</strong></th>
                                                <th><strong>Disponibilidad</strong></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for t in team %}
                                                <tr>
                                                    <td>{{ t.user.username }}</td>
                                                    <td><input type = 'number' id="horas_{{ t.id }}" class="inputHoras" name="horas_{{ t.id }}" value="0"></td>
                                                    <td id="dispon_{{ t.id }}"></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                        <p id="horasrestantes" hidden="true">0</p>

                                    </div>

                                </div>
                            </div>
                            {#                                        <div class="form-group">#}
                            {#                                            <label class="col-md-3 col-xs-12 control-label"> Fecha Final </label>#}
                            {#                                            <div class="col-md-6 col-xs-12">#}
                            {#                                                <div class="input-group">#}
                            {#                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>#}
                            {#                                                    {{ wizard.form.fechaFinal }}#}
                            {#                                                </div>#}
                            {#                                                {% if field.help_text %}#}
                            {#                                                    <span class="help-block">{{ wizard.form.fechaFinal.help_text|safe }}</span>#}
                            {#                                                {% endif %}#}
                            {#                                            </div>#}
                            {#                                        </div>#}

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Seleccione los User Stories</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        {{ form.userStories }}
                                    </div>
                                    {% if field.help_text %}
                                        <span class="help-block">{{ form.userStories.help_text|safe }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Asignación</label>
                                <div class="col-md-7 col-xs-12">
                                    <div class="input-group">
                                        <table class="table">


                                            <thead>
                                            <tr id="ustitle">
                                                <th><strong>User Stories seleccionados</strong></th>
                                                <th><strong>Asigne a un usuario</strong></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for us in userstories %}

                                                <tr id="usrow_{{ us.id }}" style="display:none;" class="usrow">
                                                    <td>{{ us.titulo }}</td>
                                                    <td>
                                                        <select class="form-control inputHoras" id="us{{ us.id }}" name="{{ us.id }}">
                                                            {% for t in team %}
                                                                <option class="select_{{ t.id }}" value="{{ t.id }}">{{ t.user.username }} - {{ t.rol.name }}</option>
                                                            {% endfor %}

                                                        </select></td>
                                                    <td></td>



                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>





                            {{ form.errors }}





                            <div class="panel-footer">


                                <input type="submit">


                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function(){


            $("#id_duracion").change(function () {
                updateTime()
            });
            $(".inputHoras").change(function () {
                updateTime()
            })

            var p = "move" in SelectBox;

            var updateTime = function() {
                $(".usrow").css("display","none");
                $("#ustitle").css("display","table-row")

                var dias = document.getElementById('id_duracion')
                var actual = parseInt(dias.value) * {{ horasTeam }}

                    {% for t in team %}

                        $("#dispon_{{ t.id }}").text( $("#horas_{{ t.id }}").val() * dias.value).css("color","black");
                        $(".select_{{ t.id }}").css("color","black");


                    {% endfor %}


                var from_box = document.getElementById("id_userStories_to")

                if (from_box.options.length == 0){
                    if(isNaN(actual)){
                        document.getElementById('horasrestantes').innerText = 0;
                    } else {
                        document.getElementById('horasrestantes').innerText = actual;
                    }
                    document.getElementById('horasrestantes').style.color = 'black';


                }

                for (var i = 0, j = from_box.options.length; i < j; i++) {
                    node = from_box.options[i];

                    var teamElegido = $("#us"+node.value).val();

                    var horasIndividual =  parseInt($("#dispon_"+teamElegido).text())


                    var h = node.text.slice(node.text.lastIndexOf(' '), node.text.lastIndexOf('hs'));

                    horasIndividual = horasIndividual - parseInt(h);
                    actual = actual - parseInt(h);
                    document.getElementById('horasrestantes').innerText = actual;

                    $("#dispon_" + teamElegido).text( horasIndividual );


                    if(horasIndividual < 0) {
                        $("#dispon_" + teamElegido).css("color","red");
                        $(".select_" + teamElegido).css("color","red");
                        document.getElementById('horasrestantes').style.color = 'red';
                        document.getElementById('horasrestantes').innerText = 'Te pasaste por ' + actual*-1 + 'hs.';
                    }
                    else {
                        document.getElementById('horasrestantes').style.color = 'black';
                    }



                    $("#usrow_"+node.value).css("display","table-row");

                }



            }

            SelectBox.redisplay = function(id) {
                // Repopulate HTML select box from cache
                var box = document.getElementById(id);
                var node;
                $(box).empty(); // clear all options
                var new_options = box.outerHTML.slice(0, -9);  // grab just the opening tag
                var cache = SelectBox.cache[id];


                for (var i = 0, j = cache.length; i < j; i++) {
                    node = cache[i];
                    if (node.displayed) {
                        var new_option = new Option(node.text, node.value, false, false);
                        // Shows a tooltip when hovering over the option
                        new_option.setAttribute("title", node.text);
                        new_options += new_option.outerHTML;

                        {#if(id === "id_0-userStories_to") {#}
                        {#    var h = node.text.slice(node.text.lastIndexOf(' '), node.text.lastIndexOf('hs'));#}
                        {#    actual = actual - parseInt(h)#}
                        {#    document.getElementById('horasrestantes').innerText = actual#}
                        {##}

                    }

                }
                new_options += '</select>';
                box.outerHTML = new_options;
                updateTime()
            }



        });
    </script>



{% endblock %}