{% extends 'pro/pro_home.html' %}
{% load static %}

{% block index_content %}
    {% load tags_permisos %}
    {% get_obj_perms user for proyecto as "permisos" %}
<!-- START RESPONSIVE TABLES -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
            <div class="panel-heading">
            <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                <h3 class="panel-title"><strong>Sprints</strong></h3>
                {% if 'Sprint.crear_sprint' in permisos %}
                    <a class="btn btn-default btn-rounded btn-sm" href="{% url 'Proyecto:sprint:crearSprint' proyecto.id %}">Crear nuevo</a>
                {% endif %}
                {% if 'Sprint.importar_sprint' in permisos  and proyecto.estado == 2 %}
                    <a class="btn btn-default btn-rounded btn-sm" href="{% url 'Proyecto:sprint:importarSprint' proyecto.id %}">Importar sprint</a>
                {% endif %}
                <input class="form-control" id="myInput" type="text" placeholder="Buscar sprint">
                <br>
            </div>
                                <div class="panel-body panel-body-table">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th ></th>
                                <th >Fecha Inicio</th>
                                <th>Fecha Final</th>
                                <th>Fecha Final Calculada</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for sprint in sprint_list%}
                                <tr id="<pk>">
                                    <td><strong>Sprint {{ sprint.numero }}</strong></td>
                                    <td>{{ sprint.fechaInicio }}</td>
                                    <td>{{ sprint.fechaFinal }}</td>
                                    <td>{{ sprint.fechaFinalCalculada }}</td>
                                    <td>{{ sprint.get_estado_display }}</td>


                                    <td>
                                        {% if 'Sprint.modificar_sprint' in permisos %}
                                            <a href="{% url 'Proyecto:sprint:modificarSprint'  pk=proyecto.id  pks=sprint.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span>Acceder</button></a>
                                            {#                                                            <a href="{% url 'Proyecto:sprint:modificarFechasSprint'  pk=proyecto.id  pks=sprint.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span>Editar Fechas</button></a>#}


                                        {% endif %}
                                        {% if 'Sprint.eliminar_sprint' in permisos and sprint.estado == 2  and proyecto.estado == 2  %}
                                            <a href="{% url 'Proyecto:sprint:terminarSprint'  pk=proyecto.id  pks=sprint.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span>Terminar Sprint</button></a>
                                            {#                                                            <a href="#" class="mb-control" data-box="#mb-delete{{ sprint.id }}"><button class="btn btn-danger btn-rounded btn-sm"><span class="fa fa-times"></span></button></a>#}
                                        {% endif %}
                                        {% if sprint.estado == 1 %}

                                            {% if ejecucion %}
                                                <a href="#" class="mb-control" data-box="#mb-Erroriniciar"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-plus"></span></button></a>
                                            {% elif  proyecto.estado == 2 %}
                                                <a href="#" class="mb-control" data-box="#mb-iniciar{{ sprint.id }}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-plus"></span>Iniciar Sprint</button></a>
                                            {% endif %}
                                        {% endif %}
                                        {% if sprint.estado == 2 %}
                                            <a href="{% url 'Proyecto:sprint:reporteUSpendientes'  pk=proyecto.id pks=sprint.id  %}"><button class="btn btn-info"> Reporte US pendientes(prioridad max.)</button></a>
                                        {% endif %}
                                        <a href="{% url 'Proyecto:sprint:reporteSprintBacklog'  pk=proyecto.id pks=sprint.id  %}"><button class="btn btn-info"> Reporte Sprint Backlog</button></a>
                                    </td>
                                </tr>
                                <!-- MESSAGE BOX-->
                                <div class="message-box animated fadeIn" data-sound="alert" id="mb-delete{{ sprint.id }}">
                                    <div class="mb-container">
                                        <div class="mb-middle">
                                            <div class="mb-title"><span class="fa fa-trash-o"></span><strong>Eliminar</strong> ?</div>
                                            <div class="mb-content">
                                                <p>Estas seguro que deseas eliminar el Sprint ?</p>
                                            </div>
                                            <div class="mb-footer">
                                                <div class="pull-right">
                                                    <form action="{% url 'Proyecto:sprint:eliminarSprint'  pk=proyecto.id  pks=sprint.id  %}" method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" value="Confirm" class="btn btn-success btn-lg">Si</button>
                                                        <button class="btn btn-warning btn-lg mb-control-close">No</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="message-box animated fadeIn" data-sound="alert" id="mb-iniciar{{ sprint.id }}">
                                    <div class="mb-container">
                                        <div class="mb-middle">
                                            <div class="mb-title"><span class="fa fa-plus"></span><strong>Iniciar Sprint</strong></div>
                                            <div class="mb-content">
                                                <p>Iniciar sprint en fecha {{ date.now }}</p>
                                            </div>
                                            <div class="mb-footer">
                                                <div class="pull-right">
                                                    <form action="{% url 'Proyecto:sprint:iniciarSprint'  pk=proyecto.id  pks=sprint.id  %}" method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" value="Confirm" class="btn btn-success btn-lg">Si</button>
                                                        <button class="btn btn-warning btn-lg mb-control-close">No</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END MESSAGE BEOX-->

                            {% endfor %}

                            <div class="message-box animated fadeIn" data-sound="alert" id="mb-Erroriniciar">
                                <div class="mb-container">
                                    <div class="mb-middle">
                                        <div class="mb-title"><span class="fa fa-trash-o"></span><strong>Error</strong> ?</div>
                                        <div class="mb-content">
                                            <p>Otro sprint está en ejecución</p>
                                        </div>
                                        <div class="mb-footer">
                                            <div class="pull-right">
                                                <button class="btn btn-warning btn-lg mb-control-close">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </tbody>
                        </table>
{#                        {% if 'Sprint.crear_sprint' in permisos %}#}
{#                            <a class="btn btn-success btn-lg" href="{% url 'Proyecto:sprint:crearSprint' proyecto.id %}">Crear nuevo</a>#}
{##}
{#                        {% endif %}#}
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <!-- END RESPONSIVE TABLES -->
{% endblock %}

