{% extends 'index.html' %}
{% load static %}

{% block index_content %}
    {% load guardian_tags %}
    <!-- START RESPONSIVE TABLES -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Proyectos</strong></h3>
                    <input class="form-control" id="myInput" type="text" placeholder="Buscar proyecto">
                    <br>
                </div>

                <div class="panel-body panel-body-table">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th width="250">Nombre</th>
                                <th width="100">Descripcion</th>
                                <th width="100">Fecha inicio</th>
                                <th width="100">Fecha fin</th>
                                <th width="100">Estado</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for proyecto in my_proyectos %}
                                {% get_obj_perms user for proyecto as "permisos" %}

                                <tr id="<pk>">
                                    {% if  proyecto.estado != 1 %}
                                        {% if proyecto in lista or user.is_superuser %}
                                            <td><strong><a href="{% url 'Proyecto:UserStory:listaUs'  proyecto.id %}">{{ proyecto.nombre }}</a></strong></td>

                                        {% else %}
                                            <td><strong>{{ proyecto.nombre }}</strong></td>
                                        {% endif %}

                                    {% else %}
                                        <td><strong class="text-center">{{ proyecto.nombre}}</strong></td>
                                    {% endif %}
                                    <td><span class="text-center">{{ proyecto.descripcion}}</span></td>
                                    {% if proyecto.fechainicio != None %}
                                        <td><span class="text-center">{{ proyecto.fechainicio}}</span></td>
                                    {% else %}
                                        <td><span class="text-center">                 </span></td>
                                    {% endif  %}
                                    {% if proyecto.fechafin != None %}
                                        <td><span class="text-center">{{ proyecto.fechafin}}</span></td>
                                    {% else %}
                                        <td><span class="text-center">                 </span></td>
                                    {% endif  %}
                                    <td><span class="text-center">{{ proyecto.get_estado_display }}</span></td>
                                    <td>
                                        {% if perms.Proyecto.iniciar_proyecto and proyecto.estado == 1 %}
                                            <a href="{% url 'Proyecto:iniciarProyecto' proyecto.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span>Iniciar</button></a>
                                        {% endif %}
                                        {% if perms.Proyecto.modificar_proyecto and proyecto.estado != 3 and proyecto.estado != 4 %}
                                            <a href="{% url 'Proyecto:modificarProyecto' proyecto.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span>Modificar</button></a>
                                        {% endif %}
                                        {% if perms.Proyecto.eliminar_proyecto and proyecto.estado == 2 %}
                                            <a href="{% url 'Proyecto:confirmar_terminarProyecto' proyecto.id %}">
                                                <button class="btn btn-danger btn-rounded btn-sm" ><span class="fa fa-times"></span>Terminar Proyecto</button></a>

                                        {% endif %}
                                        <a href="#" class="mb-control" data-box="#mb-detail{{ proyecto.id }}"><button class="btn btn-info"> Detalles</button></a>

                                        <a href="{% url 'Proyecto:reporteProductBacklog' proyecto.id %}"><button class="btn btn-info"> Reporte Product backlog</button></a>
                                        <a href="{% url 'Proyecto:reporteHorasTrabajadas' proyecto.id %}"><button class="btn btn-info"> Reporte Horas Trabajadas</button></a>
                                        <a href="{% url 'Proyecto:reporteKanban' proyecto.id %}"><button class="btn btn-info"> Reporte Tablero Kanban</button></a>


                                    </td>
                                </tr>
                                <!-- MESSAGE BOX-->
                                <div class="message-box animated fadeIn" data-sound="alert" id="mb-delete{{ proyecto.id }}">
                                    <div class="mb-container">
                                        <div class="mb-middle">
                                            <div class="mb-title"><span class="fa fa-trash-o"></span><strong>Eliminar</strong> ?</div>
                                            <div class="mb-content">
                                                <p>Estas seguro que deseas eliminar {{ proyecto.nombre }}?</p>
                                            </div>
                                            <div class="mb-footer">
                                                <div class="pull-right">
                                                    <form action="{%  url 'Proyecto:confirmar_terminarProyecto' proyecto.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Confirm"/>
                                                        <button class="btn btn-light btn-small mb-control-close">No</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-box animated"  id="mb-detail{{ proyecto.id }}">
                                    <div class="mb-container">
                                        <div class="mb-middle">
                                            <div class="mb-title"><strong>{{ proyecto.nombre}}</strong></div>
                                            <div class="mb-content">
                                                <p>Descripcion:  {{ proyecto.descripcion }}</p>
                                                <p>Fecha inicio: {{ proyecto.fechainicio }}</p>
                                                <p>Fecha fin: {{ proyecto.fechafin }}</p>
                                                {% if proyecto.cliente != None %}
                                                    <p>Cliente: {{ proyecto.cliente.nombre }} {{ proyecto.cliente.apellido }}</p>
                                                {% else %}
                                                    <p>Cliente: Cliente no asignado</p>
                                                {% endif %}
                                                <p>Team members:
                                                    {% for member in proyecto.team_set.all %}
                                                        * {{ member.user.username }} </br>
                                                    {% endfor %} </p>
                                                <div class="pull-right">
                                                    <button class="btn btn-light btn-small mb-control-close">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- END MESSAGE BOX-->
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <!-- END RESPONSIVE TABLES -->
{% endblock %}

