{% extends 'index.html' %}
{% load static %}


{% block barra-superior %}
     {% load tags_permisos %}
    {% get_obj_perms user for proyecto as "context_var" %}
    <li class="xn-openable">
        <a href="#"><span class="xn-text">Kanban</span></a>
        <ul>
             {% if 'Kanban.ver_flujos' in context_var  %}
            <li><a href="{% url 'Proyecto:Kanban:visualizar' proyectoKey %}"><span class="fa fa-eye"></span>Visualizar</a></li>
            {% endif %}
            {% if 'Kanban.crear_flujo' in context_var and proyecto.estado == 2 %}
            <li><a href="{% url 'Proyecto:Kanban:crearflujo' proyectoKey %}"><span class="fa fa-plus"></span> Crear flujos</a></li>
            {% endif %}
            {% if 'Kanban.ver_flujos' in context_var  %}
            <li><a href="{% url 'Proyecto:Kanban:listarflujo' proyectoKey %}"><span class="fa fa-list-ol"></span> Listar flujos</a></li>
            {% endif %}
        </ul>
    </li>
    <li class="xn-openable">
        <a href="#"><span class="xn-text">Sprint</span></a>
        <ul>
                {% if 'Sprint.listar_sprint' in context_var  %}
                    <li><a href="{% url 'Proyecto:sprint:listaSprint' proyectoKey %}"><span class="fa fa-list-ol"></span>Listar</a></li>
                {% endif %}
                {% if 'Sprint.crear_sprint' in context_var and proyecto.estado == 2 %}
                    <li><a href="{% url 'Proyecto:sprint:crearSprint' proyectoKey %}"><span class="fa fa-plus"></span>Crear</a></li>
                {% endif %}
        </ul>
    </li>
    <li class="xn-openable">
        <a href="#"><span class="xn-text">User Stories</span></a>
        <ul>
            {% get_obj_perms user for proyecto as "context_var"  %}
                {% if 'UserStory.listar_us' in context_var %}
                    <li><a href="{% url 'Proyecto:UserStory:listaUs' proyectoKey %}"><span class="fa fa-list-ol"></span>Listar</a></li>
                {% endif %}
                {% if 'UserStory.crear_us' in context_var and proyecto.estado == 2 %}
                    <li><a href="{% url 'Proyecto:UserStory:crearUs' proyectoKey %}"><span class="fa fa-plus"></span>Crear</a></li>
                {% endif %}
        </ul>
    </li>
    <li class="xn-openable">
        <a href="#"><span class="xn-text">Team</span></a>
        <ul>
            {% get_obj_perms user for proyecto as "context_var"  %}
                {% if 'team.listar_team' in context_var %}
                    <li><a href="{% url 'Proyecto:Team:listaTeam' proyectoKey %}"><span class="fa fa-list-ol"></span> Listar</a></li>
                {% endif %}
                {% if 'team.crear_team' in context_var and proyecto.estado == 2 %}
                    <li><a href="{% url 'Proyecto:Team:crearTeam' proyectoKey %}"><span class="fa fa-plus"></span> Crear</a></li>
                {% endif %}
        </ul>
    </li>

{% endblock %}

