{% extends 'index.html' %}
{% load static %}


{% block index_content %}

    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" method="post" >
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                            <h3 class="panel-title"><strong>Modificar</strong></h3>
                        </div>


                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Nombre</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        {{ form.nombre }}
                                    </div>
                                    <span class="help-block">Longitud maxima 100 caracteres *Campo obligatorio</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Descripcion</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        {{ form.descripcion }}
                                    </div>
                                    <span class="help-block">Longitud maxima 500 caracteres *Campo obligatorio</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label"> Cliente del Proyecto </label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                        {{ form.cliente}}
                                    </div>
                                    <span class="help-block">Seleccione un cliente para el proyecto *Campo obligatorio</span>
                                </div>
                            </div>


                            {{ form.errors }}
                            <div class="panel-footer">
                                <button class="btn btn-primary pull-right"  data-box="#mb-usercreate">Guardar cambios</button>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

{% endblock %}