{% extends 'index.html' %}
{% load static %}
{% block index_content %}
 <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal" method="post" >
                            {% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Crear proyecto</strong></h3>
{#                                    <ul class="panel-controls">#}
{#                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>#}
{#                                    </ul>#}
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Nombre</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.nombre }}
                                            </div>
                                            <span class="help-block">Longitud maxima 100 caracteres *Campo obligatorio</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Descripcion</label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.descripcion }}
                                            </div>
                                            <span class="help-block">Longitud maxima 500 caracteres *Campo obligatorio</span>
                                        </div>
                                    </div>
                                        {{ form.errors }}

                                    </div>
                                     <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label"> Usuario Scrum Master </label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                {{ form.user}}
                                            </div>
                                            <span class="help-block">Seleccione el usuario Scrum Master *Campo obligatorio</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label"> Horas de trabajo del Scrum </label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.horas_trabajadas}}
                                            </div>
                                            <span class="help-block">Designe las horas de trabajo del Scrum Master en el proyecto *Campo obligatorio</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label"> Rol asignado al Scrum </label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.rol}}
                                            </div>
                                            <span class="help-block">Seleccione un rol de proyecto al Scrum Master dentro del proyecto *Campo obligatorio</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label"> Cliente del Proyecto </label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                {{ form.cliente}}
                                            </div>
                                            <span class="help-block">Seleccione un cliente para el proyecto *Campo obligatorio</span>
                                        </div>
                                    </div>


                                     <div class="panel-footer">
                                        <button class="btn btn-primary pull-right"  data-box="#mb-usercreate">Crear</button>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
{% endblock %}