{% extends 'index.html' %}
{% load static %}

{% block index_content %}
    {% if  flag_terminado == True %}
        <div class="panel-heading">
            <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
            <h3 class="panel-title">Todos los User Storys y Sprints fueron completados</h3>
            <br>
        </div>
        <a class="btn btn-success btn-lg" href="{% url 'Proyecto:terminar' proyecto.id %}">Siguiente</a>
    {% else %}
        <div class="panel-heading">
            <h3 class="panel-title">Existen Sprints o User Storys  incompletos, estos seran cancelados si continua</h3>
            <br>
            {% if perms.Proyecto.eliminar_proyecto %}
                <a  href="{% url 'Proyecto:terminar' proyecto.id %}">
                <button class="btn btn-danger btn-rounded btn-sm" ><span class="fa fa-times"></span>Cancelar Proyecto</button></a>

            {% endif %}
        </div>

    {% endif %}

{% endblock %}