{% extends 'pro/pro_home.html' %}
{% load static %}

{% block index_content %}
    {% load tags_permisos %}
    {% get_obj_perms user for proyecto as "permisos" %}
<!-- START RESPONSIVE TABLES -->

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> Proyecto {{ proyecto.id }} </h4>
                    <h3 class="panel-title">User Stories</h3>
                    <h3 class="panel-title pull-right"><form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form></h3>
                </div>
                <div class="panel-body panel-body-table">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th>Titulo</th>
                                <th width="100">Descripcion</th>
                                <th width="100">Prioridad</th>
                                <th width="100">Autor</th>
                                <th width="100">Fecha de Modificacion</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for UserStory in my_userstorys %}
                                <tr id="<pk>">
                                    <td><strong>{{ UserStory.titulo }}</strong></td>
                                    <td><span class="text-center">{{ UserStory.descripcion_corta}}</span></td>
                                    <td><span class="text-center">{{ UserStory.prioridad }}</span></td>
                                    <td><span class="text-center">{{ UserStory.autor}}</span></td>
                                    <td><span class="text-center">{{ UserStory.fecha_modificacion}}</span></td>
                                    <td>
                                         <a href="#" class="mb-control" data-box="#mb-detail{{ proyecto.id }}{{ UserStory.id }}"><button class="btn btn-info"> Detalles</button></a>
                                    </td>
                                </tr>
                                <div class="message-box animated"  id="mb-detail{{ proyecto.id }}{{ UserStory.id }}">
                                    <div class="mb-container">
                                        <div class="mb-middle">
                                            <div class="mb-title"><strong>{{ UserStory.titulo}}</strong></div>
                                            <div class="mb-content">
                                                <p>Descripcion corta: {{ UserStory.descripcion_corta }}</p>
                                                {% if UserStory.descripcion_larga != None %}
                                                    <p>Descripcion larga: {{ UserStory.descripcion_larga }}</p>
                                                {% else %}
                                                    <p>Descripcion larga:</p>
                                                {% endif %}
                                                {% if UserStory.criterios_de_aceptacion != None %}
                                                    <p>Criterios de aceptacion: {{ UserStory.criterios_de_aceptacion }}</p>
                                                {% else %}
                                                    <p>Criterios de aceptacion:</p>
                                                {% endif %}
                                                <p>Urgencia:  {{ UserStory.urgencia }}</p>
                                                <p>Valor de negocio: {{ UserStory.valor_de_negocio }}</p>
                                                <p>Valor tecnico: {{ UserStory.valor_tecnico }}</p>
                                                <p>Prioridad: {{ UserStory.prioridad }}</p>
                                                <p>Flujo: {{ UserStory.flujo }}</p>
                                                <p>Tiempo estimado de terminacion: {{ UserStory.tiempo_estimado_de_terminacion }}</p>
                                                {% if UserStory.comentario_extra != None %}
                                                    <p>Comentario extra: {{ UserStory.comentario_extra }}</p>
                                                {% else %}
                                                    <p>Comentario extra:</p>
                                                {% endif %}
                                                <p>Archivo Adjunto: {{ UserStory.archivo }}</p>
                                                <div class="pull-right">
                                                    <button class="btn btn-light btn-small mb-control-close">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- END RESPONSIVE TABLES -->

{% endblock %}