{% extends 'base.html' %}
{% block content %}
    {% load guardian_tags %}

    <div class="container">

        <div class="list-group">
            {% for group in group_list %}
                <a href="{% url 'Accounts:modificarRol' group.id %}" class="list-group-item list-group-item-action">
                {{ group.name }}
                </a>
            {% endfor %}
                 <a href="{% url 'Accounts:crearRol' %}" class="list-group-item list-group-item-action active">Crear Rol</a>

        </div>
    </div>

    {#    <ul>#}
    {#        {% for group in group_list %}#}
    {#            <li>#}
    {#                {{ group.name }}#}
    {#                {% get_obj_perms user for None as 'group_perms' %}#}
    {#                {% if "auth.change_group" in perms %}#}
    {#                    {{ group.Nombre }} <a href="{% url 'Accounts:modificarRol' group.id %}">Modificar</a>#}
    {#                {% else %}#}
    {#                    {{ group.Nombre }} Modificar#}
    {#                {% endif %}#}
    {#            </li>#}
    {#        {% endfor %}#}
    {#        <a href="{% url 'Accounts:crearRol' %}">Crear nuevo</a>#}
    {#    </ul>#}

{% endblock %}
