<!-- templates/home.html-->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    Bienvenido {{ user.username }}!
    <p><a href="{% url 'Proyecto:listaProyectos' %}">Proyectos</a></p>
    <p><a href="{% url 'Accounts:listaRol' %}">Roles</a></p>
    <p><a href="{% url 'Cliente:index' %}">Clientes</a></p>

{% endblock %}
