{% extends 'pro/pro_home.html' %}
{% load static %}

{% block index_content %}
     {% load tags_permisos %}
        {% get_obj_perms user for proyecto as "permisos" %}

<!-- START RESPONSIVE TABLES -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">

                                <div class="panel-heading">
                                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                                    <h3 class="panel-title"><strong>Flujos</strong></h3>
                                    {% if 'Kanban.crear_flujo' in permisos  and proyecto.estado == 2 %}
                                        <a class="btn btn-default btn-rounded btn-sm" href="{% url 'Proyecto:Kanban:crearflujo' proyecto.id %}">Crear nuevo</a>
                                    {% endif %}
                                    {% if 'Kanban.importar_flujo' in permisos  and proyecto.estado == 2 %}
                                        <a class="btn btn-default btn-rounded btn-sm" href="{% url 'Proyecto:Kanban:importarFlujo' proyecto.id %}">Importar flujo</a>
                                    {% endif %}
                                    <input class="form-control" id="myInput" type="text" placeholder="Buscar flujos">
                                    <br>
                                </div>

                                <div class="panel-body panel-body-table">

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-actions">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                </tr>
                                            </thead>
                                            <tbody id="myTable">
                                            {% for flujo in mis_flujos %}
                                                <tr id="{{ flujo.id }}">
                                                    <td><strong>{{ flujo.nombre }}</strong></td>

                                                    <td>
                                                        {% if 'Kanban.modificar_flujos' in permisos and   proyecto.estado == 2 %}
                                                             <a href="{% url 'Proyecto:Kanban:flujo_update'  pk=proyecto.id  pkk=flujo.id  %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button></a>
                                                        {% endif %}
                                                        {% if  'Kanban.eliminar_flujos' in permisos and  proyecto.estado == 2 %}
                                                            <a href="#" class="mb-control" data-box="#mb-delete{{ flujo.id }}"><button class="btn btn-danger btn-rounded btn-sm"><span class="fa fa-times"></span></button></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <div class="message-box animated fadeIn" data-sound="alert" id="mb-delete{{ flujo.id }}">
                                    <div class="mb-container">
                                        <div class="mb-middle">
                                            <div class="mb-title"><span class="fa fa-trash-o"></span><strong>Eliminar</strong> ?</div>
                                            <div class="mb-content">
                                                <p>Estas seguro que deseas eliminar el flujo?</p>
                                            </div>
                                            <div class="mb-footer">
                                                <div class="pull-right">
                                                    <form action="{% url 'Proyecto:Kanban:flujo_borrar'  pk=proyecto.id  pkk=flujo.id  %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Si"/>
                                                        <button class="btn btn-light btn-small mb-control-close">No</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                             {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END RESPONSIVE TABLES -->
{% endblock %}

{% block page_scripts %}
      <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js'%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"%}"></script>

        <script type="text/javascript" src="{% static "js/demo_tables.js" %}"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
        <!-- END THIS PAGE PLUGINS-->
{% endblock %}
