{% extends 'pro/pro_home.html' %}
{% load static %}
{% load guardian_tags %}
{% block index_content %}
 <div class="page-content-wrap">
     <div class="row">
         <div class="col-md-12">
            <form action="" method="post">
            {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                        <h3 class="panel-title"><strong>Modificación de flujos</strong></h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label col-md-push-1">Nombre del flujo</label>
                                <div class="col-md-6 col-xs-12">
                                     <div class="input-group">
                                         <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                         {{ form.nombre }}
                                     </div>
                                     <span class="help-block">Nombre del Flujo *Campo Obligatorio</span>
                                </div>
                        </div>
                        <div class="form-group">
                        <div class="row col-md-6  col-md-push-3">
                        <table class="table table-hover table">
                            {{ fases.management_form }}

                            {% for f in fases.forms %}
                            {% if forloop.first %}
                            <thead>
                                <tr>
                                {% for field in f.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                                </tr>
                            </thead>
                            {% endif %}
                            <tr class="{% cycle 'row1' 'row2' %} formset_row">
                            {% for field in f.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in f.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                 </td>
                            {% endfor %}
                             </tr>
                            {% endfor %}
                         </table>
                        </div>
                    </div >
                    <!--</div>-->
                      {{ form.errors }}
                    <div class="panel-footer">
                        <button class="btn btn-primary pull-right"  id="guardar">Guardar</button>
                    </div>
                </div>
            </form>
         </div>
     </div>
 </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'agregar',
        deleteText: 'eliminar',
        prefix: 'faseaflujo'
    });
</script>
{% endblock %}