{% extends 'base.html' %}
{% block content %}
    {% load guardian_tags %}
    <h4 align="right" >Usuario: {{ user.username }}</h4>
    <h1 aling="center">Proyectos</h1>
    <ul>
        {% for proyecto in proyecto_list %}
            <div class='row'>
                <div class='col-12'>
                    <li>
{#                        {% get_obj_perms user for proyecto as 'proyecto_perms' %}#}
{#                        {% if "modificar_proyecto" in proyecto_perms %}#}
                            {{ proyecto.nombre }} <a href="{% url 'Proyecto:modificarProyecto'  proyecto.id %}" class="btn-outline-success">Modificar</a>
{#                        {% else %}#}
{#                            {{ proyecto.nombre }} Modificar<a href="{% url 'Accounts:home' %}">Home</a>r#}
{#                        {% endif %}#}
                    </li>
                </div>
            </div>
        {% endfor %}

        <a href="{% url 'Proyecto:crearProyecto' %}">Crear nuevo</a>

    </ul>
{% endblock %}
