<!-- templates/base.html -->
{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} Gestpro {% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>

{#    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">#}
{#    <link href="{% static "bootstrap/css/local.min.css" %}" rel="stylesheet">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        {% block meta_css %} {% endblock %}
    <!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    {% block meta_js %}
    {% endblock %}
    <![endif]-->

{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#<script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
{#  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
{#<script type="text/javascript" src="{% static "js/plugins/jquery/jquery.min.js"%}"></script>#}
{#        <script type="text/javascript" src="{% static "js/plugins/jquery/jquery-ui.min.js"%}"></script>#}



    {% block head %}
    {% endblock %}
</head>
    <body>
    {% block content %}
    {% endblock %}
    {% block message %}
    {% endblock %}
    {% block extra %}
    {% endblock %}

        <!-- All that javascript -->
{#        <script src=" {% static "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %}"></script>#}
{#        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>#}

{#        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>