{% extends 'base.html' %}
{% load static %}


{% block meta_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="{% static "css/theme-default.css" %}">
{% endblock %}

{% block content %}
 <div class="page-container">
    <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="">Gestpro</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">
                        <a href="#" class="profile-mini">
                            <img src="/staticfiles/assets/images/users/avatar.png" alt="John Doe"/>
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                <img src="/staticfiles/assets/images/users/avatar.png" alt="John Doe"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">{{ user.username }}</div>
                                <div class="profile-data-title">{{ user.rol }}</div>
                            </div>
                       <div class="profile-controls">
                    <a href="{% url 'Accounts:user_modificar' user.id %}" class="profile-control-left"><span class="fa fa-info"></span></a>
                         </div>
                        </div>
                    </li>
                    <li class="xn-title">Navigation</li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Proyectos</span></a>
                        <ul>
                            {% if perms.Proyecto.crear_proyecto %}
                            <li><a href="{% url 'Proyecto:pro_crear' %}"><span class="fa fa-plus"></span> Crear</a></li>
                            {% endif %}
                            <li><a href="{% url 'Proyecto:listaProyectos' %}"><span class="fa fa-list-ol"></span> Listar</a></li>

                        </ul>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-user"></span> <span class="xn-text">Usuarios</span></a>
                        <ul>
                            {% if perms.Proyecto.crear_usuario %}
                            <li><a href="{% url 'Accounts:user_createmin' %}"><span class="fa fa-plus"></span> Crear</a></li>
                            {% endif %}
                            <li><a href="{% url 'Accounts:user_listar' %}"><span class="fa fa-list-ol"></span> Listar</a></li>
                        </ul>
                    </li>

                    {% if perms.Accounts.crear_rol or perms.Accounts.ver_rol or perms.Accounts.crear_rol %}
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-eye"></span> <span class="xn-text">Roles</span></a>
                        <ul>
	                        {% if 'Accounts.crear_rol' in perms %}
                                <li><a href="{% url 'Accounts:crearRol' %}"><span class="fa fa-plus"></span> Crear Roles de Sistema</a></li>
                            {% endif %}
                             {% if perms.Accounts.crear_rol %}
                            <li><a href="{% url 'Accounts:crearRolPr' %}"><span class="fa fa-plus"></span> Crear Roles de Proyecto</a></li>
                            {% endif %}
                            {% if perms.Accounts.ver_rol %}
                            <li><a href="{% url 'Accounts:listaRol' %}"><span class="fa fa-list-ol"></span> Listar roles</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}

                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-star"></span> <span class="xn-text">Clientes</span></a>
                        <ul>
                            {% if perms.Proyecto.crear_cliente %}
                            <li><a href="{% url 'Cliente:cliente-add' %}"><span class="fa fa-plus"></span> Crear</a></li>
                            {% endif %}
                            <li><a href="{% url 'Cliente:cliente-list' %}"><span class="fa fa-list-ol"></span> Listar</a></li>
                        </ul>
                    </li>


                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span><span class="xn-text">Logout</span></a>
                    </li>

                </ul>
            </div>

      <!-- PAGE CONTENT -->
    <div class="page-content">
         <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <li> {% block barra-superior %}
                    {% endblock %}</li>

                </ul>
                    <!-- END TOGGLE NAVIGATION -->

                <br style="line-height: 5">

{#                <ul class="breadcrumb">#}
{#                    <li><a href="#">Home</a></li>#}
{#                    <li class="active">Dashboard</li>#}
{#                </ul>#}
                <!-- END BREADCRUMB -->
        <!-- PAGE TITLE -->

{#        <div class="page-title">#}
{#            <h2><span class="fa fa-arrow-circle-o-left"></span>{% block page_title %}{% endblock %}</h2>#}
{#        </div>#}
        <!-- END PAGE TITLE -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            {% block index_content %}

            {% endblock %}
        </div>

    </div>

</div>
{% endblock %}


{% block extra %}
     <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Estas seguro que deseas cerrar sesión?</p>
                        <p>Presione 'No' si queres seguir trabajando. Presiona 'Si' para cerrar sesión.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="{% url 'logout' %}" class="btn btn-success btn-lg">Si</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->
{% endblock %}

{% block scripts %}
    {% block page_scripts %}
    {% endblock %}
 <!-- START PRELOADS -->
        <audio id="audio-alert" src="{% static "audio/alert.mp3"%}" preload="auto"></audio>
        <audio id="audio-fail" src="{% static "audio/fail.mp3"%}" preload="auto"></audio>
        <!-- END PRELOADS -->
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static "js/plugins/jquery/jquery.min.js"%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/jquery/jquery-ui.min.js"%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/bootstrap/bootstrap.min.js"%}"></script>
        <!-- END PLUGINS -->
          <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static "js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/scrolltotop/scrolltopcontrol.js"%}"></script>

        <script type="text/javascript" src="{% static "js/plugins/morris/morris.min.js"%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/rickshaw/d3.v3.js"%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/rickshaw/rickshaw.min.js"%}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'%}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'%}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js'%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/owl/owl.carousel.min.js"%}"></script>

        <script type="text/javascript" src="{% static "js/plugins/moment.min.js"%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/daterangepicker/daterangepicker.js"%}"></script>
        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->

        <script type="text/javascript" src="{% static "js/plugins.js"%}"></script>
        <script type="text/javascript" src="{% static "js/actions.js"%}"></script>
        <!-- END TEMPLATE -->
{#            <script type="text/javascript" src="{% static "js/settings.js" %}"></script>#}

        <script type="text/javascript" src="{% static "js/plugins/bootstrap/bootstrap-select.js"%}"></script>
        <script type="text/javascript" src="{% static "js/demo_tasks.js" %}"></script>

{% endblock %}