{% extends 'base.html' %}


{% load static %}

{% block title %}Login | {{ block.super }}{% endblock%}

{% block meta_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="{% static "css/theme-default.css" %}">

{% endblock %}

{% block content %}
    {% if form.errors %}

        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if not user.is_authenticated %}

        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
         {% endif %}
    {% endif %}
        <div class="login-container">

            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title"><strong>Welcome</strong>, Please login</div>
                    <form action="" class="form-horizontal" method="post">
                        {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-12">
                          {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                           {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="{%  url 'Accounts:password_reset' %}" class="btn btn-link btn-block">Forgot your password?</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-block">Log In</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2018 Gestpro
                    </div>
                </div>
            </div>

        </div>
{% endblock %}




