{% extends 'base.html' %}


{% load static %}

{% block title %}Login | {{ block.super }}{% endblock%}


{% block meta_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="{% static "css/theme-default.css" %}">
     <style>
    label{
        color : white
    }
    </style>
{% endblock %}

{% block content %}

        <div class="login-container">

            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title"> Se ha enviado una solicitud de restablecimiento de contraseña al
                        email proveido.

    <p>Si no lo recibe, revise en su carpeta de spam y asegurese que la dirección ingresada coincida con la
    dirección registrada.</p></div>

                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2018 Gestpro
                    </div>
                </div>
            </div>

        </div>
{% endblock %}




