{% extends 'index.html' %}
{% load static %}

{% block index_content %}
<!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal" method="post" >
                                {% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Crear usuario</strong></h3>
                                </div>

                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Username</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                 {{ form.username }}
                                            </div>
                                            <span class="help-block">Longitud maxima 10 caracteres</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Email</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.email }}
                                            </div>
                                            <span class="help-block">Introduzca su direccion de correo electronico</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Rol de Sistema</label>
                                        <div class="col-md-6 col-xs-12">
                                                {{ form.groups }}

                                        </div>
                                    </div>
                                    {{ form.errors }}

                                    <div class="panel-footer">
                                        <button class="btn btn-default">Clear</button>
                                        <button class="btn btn-primary pull-right"  data-box="#mb-usercreate">Guardar</button>
                                </div>
                                </div>
                            </div>
                            </form>

                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->
{% endblock %}

{% block extra %}
    {{ block.super }}

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-usercreate">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span><strong>Usuario creado</strong></div>
                    <div class="mb-content">
                        <p>Se ha enviado la contraseña al mail provisto</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-default btn-lg mb-control-close">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->
{% endblock %}