{% extends 'index.html' %}
{% load static %}

{% block index_content %}
    {% load guardian_tags %}
<!-- START RESPONSIVE TABLES -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">

                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Usuarios</strong></h3>
                                    <input class="form-control" id="myInput" type="text" placeholder="Buscar usuario">
                                    <br>
                                </div>

                                <div class="panel-body panel-body-table">

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-actions">
                                            <thead>
                                                <tr>
                                                    <th>Username</th>
                                                    <th width="100">Email</th>
                                                    <th width="100">Nombre</th>
                                                    <th width="100">Apellido</th>
                                                    <th width="100">Telefono</th>
                                                    <th width="100">Direccion</th>
                                                    <th width="100">Sexo</th>
                                                    <th width="100">Fecha de nacimiento</th>
                                                    <th width="100">Rol de sistema</th>
                                                </tr>
                                            </thead>
                                            <tbody id="myTable">
                                            {% for user in my_users %}
                                                {% if user.username != 'AnonymousUser' %}
                                                    <tr id="{{ user.id }}">
                                                        <td><strong>{{ user.username }}</strong></td>
                                                        <td><span class="text-center">{{ user.email }}</span></td>
                                                        <td><span class="text-center">{{ user.first_name }}</span></td>
                                                        <td><span class="text-center">{{ user.last_name }}</span></td>
                                                        <td><span class="text-center">{{ user.phone }}</span></td>
                                                        <td><span class="text-center">{{ user.address }}</span></td>
                                                        <td><span class="text-center">{{ user.gender }}</span></td>
                                                        <td><span class="text-center">{{ user.date_birth }}</span></td>
                                                      <td><span class="text-center">
                                                        {% for rol in user.groups.all %}
                                                            {{ rol.name }}
                                                        {% endfor %}
                                                    </span></td>
                                                        <td>
                                                           <a href="{% url 'Accounts:user_modificar' user.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button></a>
                                                            <a href="{% url 'Accounts:user_eliminar' user.id %}"><button class="btn btn-danger btn-rounded btn-sm" ><span class="fa fa-times"></span></button></a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                             {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END RESPONSIVE TABLES -->
{% endblock %}

{% block page_scripts %}
      <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js'%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"%}"></script>

        <script type="text/javascript" src="{% static "js/demo_tables.js" %}"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
        <!-- END THIS PAGE PLUGINS-->
{% endblock %}
