{% extends 'index.html' %}
{% load static %}

{% block index_content %}
    {% load guardian_tags %}
    <!-- START RESPONSIVE TABLES -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Clientes</strong></h3>
                    <input class="form-control" id="myInput" type="text" placeholder="Buscar cliente">
                    <br>
                </div>

                <div class="panel-body panel-body-table">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th width="100">Apellido</th>
                                <th width="100">Cedula</th>
                                <th width="100">Direccion</th>
                                <th width="100">Telefono</th>
                                <th width="100">Email</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for client in my_clients %}
                                <tr id="{{ client.id }}">

                                    <td><strong>{{ client.nombre }}</strong></td>
                                    <td><span class="text-center">{{ client.apellido}}</span></td>
                                    <td><span class="text-center">{{ client.cedula}}</span></td>
                                    <td><span class="text-center">{{ client.direccion}}</span></td>
                                    <td><span class="text-center">{{ client.telefono }}</span></td>
                                    <td><span class="text-center">{{ client.email}}</span></td>
                                    <td>
                                         {% if perms.Cliente.modificar_cliente %}
                                        <a href="{% url 'Cliente:cliente_modificar' client.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button></a>
                                        {% endif %}
                                        {% if perms.Cliente.eliminar_cliente %}
                                        <a href="#" class="mb-control" data-box="#mb-delete{{ client.id }}">
                                            <button class="btn btn-danger btn-rounded btn-sm" ><span class="fa fa-times"></span></button></a>
                                        {% endif %}
                                    </td>

                                </tr>


                            <div class="message-box animated fadeIn" data-sound="alert" id="mb-delete{{ client.id }}">
                                <div class="mb-container">
                                    <div class="mb-middle">
                                        <div class="mb-title"><span class="fa fa-trash-o"></span><strong>Borrar</strong></div>
                                        <div class="mb-content">
                                            <p>Estas seguro que deseas borrar al cliente {{ client.nombre }} {{ client.apellido }} con id {{ client.id }} ?</p>
                                        </div>
                                        <div class="mb-footer">
                                            <div class="pull-right">
                                                <form action="{% url 'Cliente:cliente_eliminar' client.id %}" method="post">{% csrf_token %}
                                                    <input type="submit" value="Si" class="btn btn-success btn-lg"></input>
                                                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- END RESPONSIVE TABLES -->
{% endblock %}

{% block page_scripts %}
    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js'%}"></script>
    <script type="text/javascript" src="{% static "js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"%}"></script>

    <script type="text/javascript" src="{% static "js/demo_tables.js" %}"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <!-- END THIS PAGE PLUGINS-->
{% endblock %}

